@mixin transform($property) {
    -webkit-transform: $property;
        -ms-transform: $property;
            transform: $property;
  }

@mixin size($size) {
    min-width: $size;
    min-height: $size;
}
